.header_background {
  background-color: #000000;
  height: 92px;
  width: 100%;
}

.page_container {
  position: relative;
  width: 100%;
  background-color: #cfcfcf4f;
  padding: 50px 0 0 0;
  .back_link_container {
    width: 100%;
    padding: 0 1.75em;
    .back_link {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto 30px auto;
      .back_link_content {
        text-decoration: none;
        color: #000000a4;
        &:hover {
          color: #D87D4A;
        }
      }
    }
  }
  
  .checkout_container {
    width: 100%;
    padding: 0 1.75em;
    margin-bottom: 140px;
    .checkout_grid {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: 1fr 380px;
      align-items: start;
      gap: 2em;
      .checkout_main_grid,
      .summary {
        background-color: #ffff;
        border-radius: .5em;
        h1 {
          text-transform: uppercase;
          letter-spacing: 1px;
          margin-bottom: 30px;
        }
      }

      .checkout_main_grid {
        padding: 2.25em;
        h1 {
          font-size: 29px;
        }
        .checkout_form {
          h2 {
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: 1px;
            color: #D87D4A;
          }
          .input_grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 1.25em;
            margin: 12px 0 55px 0;
            .input_container {
              width: 100%;
              .message_container {
                display: flex;
                align-items: center;
                justify-content: space-between;
                label {
                  font-size: 14px;
                  font-weight: bold;
                  color: #000000;
                }
                span {
                  font-size: 14px;
                  color: rgb(202, 20, 20);
                  font-weight: bold;
                  display: none;
                }
              }
                input {
                  width: 100%;
                  margin-top: 8px;
                  border: 1px solid rgba(0, 0, 0, 0.205);
                  padding: 1.25em 1.5em;
                  border-radius: .6em;
                  caret-color: #D87D4A;
                  font-size: 15px;
                  font-weight: bold;
                  &::placeholder {
                    font-size: 15px;
                    font-weight: bold;
                    color: #00000064;
                  }
                  &:focus {
                    outline: 2px solid #D87D4A;
                  }
                }
            }

            .input_container.show_message {
              .message_container {
                label, span {
                  color: rgb(202, 20, 20);
                  display: block;
                }
              }
              input {
                border: 1px solid rgb(202, 20, 20);
              }
            }
            .address_input {
              grid-column: span 2;
            }
          }


          .payment_methods_container {
            margin: 15px 0 0 0;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            align-items: start;
            gap: 1.5em;
            h3 {
              font-size: 14px;
            }
            .payment_methods {
              display: flex;
              flex-direction: column;
              .payment_method {
                padding: 1em;
                width: 100%;
                border: 1px solid rgba(0, 0, 0, 0.205);
                border-radius: .6em;
                margin-bottom: 14px;
                display: flex;
                align-items: center;
                gap: 1.25em;
                input[type="radio"] {
                  accent-color: #D87D4A;
                }
                label {
                  font-weight: bold;
                  user-select: none;
                }
              }
              .payment_method:focus-within {
                outline: 2px solid #D87D4A !important;
              }
            }
          }
          
          .emoney_container {
            margin: 12px 0 15px 0;
          }

          .cash_container {
            margin: 18px 0 20px 0;
            display: flex;
            align-items: center;
            gap: 2em;
            .text_content {
              p {
                color: #00000064;
                font-weight: bold;
                line-height: 1.65em;
              }
            }
          }
        }
      }

      .summary {
        padding: 1.3em 1.75em;
        h1 {
          font-size: 19px;
        }

        .total_container,
        .shipping_container,
        .vat_container,
        .grand_total_container {
          margin: 10px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;
          .text_content {
            text-transform: uppercase;
            color: #00000071;
            font-weight: bold;
          }
          .value_content {
            color: #000000;
            font-weight: bold;
            font-size: 18px
          }
        }

        .grand_total_container {
          margin: 20px 0 10px 0;
          .value_content {
            color: #D87D4A;
          }
        }

        button {
          width: 100%;
          border: none;
          background-color: #D87D4A;
          color: #ffff;
          text-transform: uppercase;
          padding: 1em 1.6em;
          letter-spacing: 2px;
          font-size: 14px;
          cursor: pointer;
          margin: 1.7em 0 .5em 0;
          transition: .1s;
          &:hover {
            background-color: #FBAF85;
          }
        }
      }
    }
  }
}

.page_container.cart_is_open {
  height: 90.7vh;
  overflow: hidden;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #00000074;
  }
}

.page_container.modal_is_open {
  height: 100vh;
  overflow: hidden;
  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #00000074;
  }
}

@media only screen and (max-width: 1024px) {
  .page_container {
    .checkout_container {
      .checkout_grid {
        grid-template-columns: 1fr;
      }
    }
  }

  .page_container.menu_is_open {
    height: 90.7vh;
    overflow: hidden;
    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 100;
      background-color: #00000074;
    }
  }
}

@media only screen and (max-width: 640px) {
  .page_container {
    padding: 20px 0 0 0;
    .back_link_container {
      padding: 0 1.3em;
      .back_link {
        margin: 0 auto 20px auto;
      }
    }

    .checkout_container {
      padding: 0 1.2em;
      .checkout_grid {
        .checkout_main_grid {
          padding: 1.7em;
          .input_grid {
            grid-template-columns: 1fr !important;
            .address_input {
              grid-column: 1 !important;
            }
          }
        }
        .payment_methods_container {
          grid-template-columns: 1fr !important;
        }
      }
      .cash_container {
        flex-direction: column;
        align-items: start !important;
        p {
          font-size: 14px;
        }
      }
    }

    .summary {
      padding: 1.3em 1.5em !important;
    }
  }
}