.title_container {
  width: 100%;
  background-color: #000000;
  text-align: center;
  padding: 10em 2em 5em 2em;
  h1 {
    color: #ffff;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
}

.products_container {
  padding: 9em 0 0 0;
}