.header,
.menu_is_open {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  padding: 0 1.75em;
  z-index: 200;
  .header_container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #97979731;
    padding: 1.75em 0;
    .logo_container {
      display: flex;
      align-items: center;
      gap: 2em;
    }
    .nav_bar {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 2em;
      text-transform: uppercase;
      .nav_link {
        color: #ffff;
        text-decoration: none;
        font-weight: 500;
        letter-spacing: 2px;
        font-size: 14px;
        transition: .1s;
        &:hover {
          color: #D87D4A;
        }
      }
    }
  }
  .category_row {
    width: 100%;
    padding: 8rem 2.25em 3em 2.25em;
    background-color: #ffffff;
    border-radius: 0 0 .6em .6em;
    display: none;
    .category_container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: .75rem;
      .category_link {
        text-decoration: none;
        .category_column {
          position: relative;
          background-color: #f1f1f1;
          border-radius: .4em;
          text-align: center;
          text-transform: uppercase;
          padding: 4.75em 1em 1em 1em;
          .category_image {
            position: absolute;
            top: -75px;
            left: 50%;
            transform: translateX(-50%);
          }
          h1 {
            font-size: 17px;
            letter-spacing: 1px;
            color: #000000;
            margin-bottom: 10px;
          }
          p {
            color: #00000093;
            font-size: 13px;
            font-weight: bold;
            display: inline;
          }
        }
        &:hover p {
          color: #d87d4a;
        }
      }
    }
  }
}

.header.header_cart_is_open {
  background-color: #000000;
}

@media only screen and (max-width: 1024px) {
  .header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: transparent;
    padding: 0;
    .header_container {
      padding: 1.75em;
      .nav_bar {
        display: none;
      }
    }
    .category_row {
      display: block;
    }
  }

  .header.menu_is_open {
    background-color: #000000;
  }
}

@media only screen and (max-width: 640px) {
  .header {
    border-radius: 0 0 .6em .6em;
    .category_row {
      padding: 6rem 2em 3em 2em;
      .category_container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr;
        gap: 5.5rem;
        .category_link {
          text-decoration: none;
          .category_column {
            position: relative;
            background-color: #f1f1f1;
            border-radius: .4em;
            text-align: center;
            text-transform: uppercase;
            padding: 3em 1em 1em 1em;
            .category_image {
              position: absolute;
              top: -75px;
              left: 50%;
              transform: translateX(-50%);
              width: 130px;
              height: 130px;
            }
            h1 {
              font-size: 15px;
              margin-bottom: 7px;
            }
            p {
              font-size: 13px;
            }
          }
        }
      }
    }
  }
}